/.vscode
/.vs
.DS_Store
/ProblemSolving.Core/.vs/
/ProblemSolving.Core/.vscode/
/ProblemSolving.Tests/.vs/
/ProblemSolving.Tests/.vscode/
/ProblemSolving.Core/bin/
/ProblemSolving.Core/obj/
/ProblemSolving.Tests/obj/
/ProblemSolving.Tests/bin/
